:root {
    --vermelho: #E63946;     /* Vermelho vibrante */
    --amarelo: #FFD166;      /* Amarelo dourado */
    --fundo: #F8F9FA;        /* Cinza claro */
}

body {
    background-color: var(--fundo);
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: var(--vermelho) !important;
}

.btn-primary {
    background-color: var(--vermelho);
    border: none;
}

.btn-primary:hover {
    background-color: #D62839; /* Vermelho mais escuro */
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    border-radius: 10px 10px 0 0;
    height: 180px;
    object-fit: cover;
}
